# .env.example
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=certo_atacado
DB_USER=postgres
DB_PASSWORD=sua_senha_banco
JWT_SECRET=segredo_super_secreto_mude_isso
EMAIL_USER=seu_email@gmail.com
EMAIL_PASSWORD=sua_senha_email_app